.titleTab {
    width: 85vw;
    margin: 0 5% 0 5%;
}

.titleTab .left {
        text-align: left;
}
.titleTab .left .userTitle {
            text-transform: uppercase;
            margin: 15px 0 15px 0;
            font-size: 1rem;
}
    
.titleTab .right {
        text-align: right;
}

.titleTab .right a{        
        text-decoration: none;
        color: brown;
}

.titleTab .right a:hover{   
        color: black;
}

.bodyClass {
    width: 90%;
    margin: 0 auto;
}
